{% load static%}
<!DOCTYPE html>
<html>
<head>
        <title>First Project</title>
</head>

<body>
	<a href="{%  url 'services'%}">back</a>
	<br>
	<br>
	<br>

	<form method="POST">
		{% csrf_token %}
		<script type="text/javascript">
              if ({{alert}}==1)
              {
                alert("This date is not available, choice another date")
              }
          </script>
		
		<input type="date" name="dd" value="2022-03-03">
		<br>
		<br>
		<input type="number" name="id_" value={{user.id}} hidden=True>
		
		<input type='submit' value='confirm'>


	 </form>
   
</body>
</html>