{% load static%}
<!DOCTYPE html>
<html>
<head>
        <title>First Project</title>
</head>

<body>
	  <form method="POST">
		  {% csrf_token %}
		 <script type="text/javascript">
              if ({{alert}}==1)
              {
                alert("This account already exists,please repeate with different information")
              }
          </script>
		  NAME:      <input type="text" name="name"><br>
		  SSN:       <input type="number" name="ssn"><br>
		  PASSWORD : <input type="password" name="password"><br>
		  
		  <input type="submit" value="Create">
	  </form>
   
</body>
</html>